@using MovieHouse.Core.Models
@model UserViewModel;


<div class="hero user-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>@Model.FirstName @Model.LastName profile</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="#">Home</a></li>
                        <li> <span class="ion-ios-arrow-right"></span>Profile</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-single">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="user-information">
                    <div class="user-img">
                        <a href="#"><img src="images/uploads/user-img.png" alt=""><br></a>
                        <a href="#" class="redbtn">Change avatar</a>
                    </div>
                    <div class="user-fav">
                        <p>Account Details</p>
                        <ul>
                            <li class="active"><a asp-action="UserPage" asp-controller="Account">Profile</a></li>
                            <li><a asp-action="UserFavoriteMoviesPage" asp-controller="Account">Favorite movies</a></li>
                            <li><a asp-action="UserRatedMoviesPage" asp-controller="Account">Rated movies</a></li>
                        </ul>
                    </div>
                    <div class="user-fav">
                        <p>Others</p>
                        <ul>
                            <li><a asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Change password</a></li>
                            <li class="redbtn"> 
                                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
                                    <button type="submit" class="nav-link btn btn-link text-white">Log Out</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="form-style-1 user-pro" action="">
                    <form action="" class="user">
                        <h4>01. Profile details</h4>
                        <div class="row">
                            <div class="col-md-6 form-it">
                                <label>Email Address</label>
                                <input type="text" placeholder="edward@kennedy.com">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-it">
                                <label>First Name</label>
                                <input type="text" placeholder="Edward ">
                            </div>
                            <div class="col-md-6 form-it">
                                <label>Last Name</label>
                                <input type="text" placeholder="Kennedy">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-it">
                                <label>Country</label>
                                <select>
                                    <option value="united">United States</option>
                                    <option value="saab">Others</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-it">
                                <label>State</label>
                                <select>
                                    <option value="united">New York</option>
                                    <option value="saab">Others</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <input class="submit" type="submit" value="save">
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer section-->
<!-- end of footer section-->

<script src="js/jquery.js"></script>

