@page
@model ChangePasswordModel


<div class="hero user-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <ul class="breadcumb">
                        <li class="active"><a href="#">Home</a></li>
                        <li> <span class="ion-ios-arrow-right"></span>Profile</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-single">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="user-information">
                    <div class="user-img">
                        <a href="#"><img src="images/uploads/user-img.png" alt=""><br></a>
                        <a href="#" class="redbtn">Change avatar</a>
                    </div>
                    <div class="user-fav">
                        <p>Account Details</p>
                        <ul>
                            <li class="active"><a asp-action="UserPage" asp-controller="Account">Profile</a></li>
                            <li><a asp-action="UserFavoriteMoviesPage" asp-controller="Account">Favorite movies</a></li>
                            <li><a asp-action="UserRatedMoviesPage" asp-controller="Account">Rated movies</a></li>
                        </ul>
                    </div>
                    <div class="user-fav">
                        <p>Others</p>
                        <ul>
                            <li><a asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Change password</a></li>
                            <li class="redbtn">
                                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
                                    <button type="submit" class="nav-link btn btn-link text-white">Log Out</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="form-style-1 user-pro" action="">
                    <form id="change-password-form" method="post">
                        <h4>Change password</h4>
                        <div class="row">
                            <div class="col-md-6 form-it">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <label asp-for="Input.OldPassword" class="form-label"></label>
                                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-it">
                                <label asp-for="Input.NewPassword" class="form-label"></label>
                                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-it">
                                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <input class="submit" type="submit" value="change">
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer section-->
<!-- end of footer section-->

<script src="js/jquery.js"></script>


@*
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="row">
    <div class="col-md-6">
    <form id="change-password-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-floating">
    <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
    <label asp-for="Input.OldPassword" class="form-label"></label>
    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
    </div>
    <div class="form-floating">
    <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
    <label asp-for="Input.NewPassword" class="form-label"></label>
    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
    </div>
    <div class="form-floating">
    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
    <label asp-for="Input.ConfirmPassword" class="form-label"></label>
    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
    </form>
    </div>
    </div>*@

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
