@page
@using static Microsoft.AspNetCore.Identity.UI.V4.Pages.Account.Internal.ExternalLoginModel
@model LoginModel

@{
    
    Layout = null;
}


<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">
<head>
    <!-- Basic need -->
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />

    <!-- Mobile specific meta -->
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone-no">

    <!-- CSS files -->
    <link rel="stylesheet" href="~/css/plugins.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <!--signup form -->
    <div class="overlay openform">
        <div class="login-wrapper" id="login-content">
            <div class="login-content">
                <a href="#" class="close">x</a>
                <h3>Login</h3>
                <form method="post">
                    <div class="row">
                        <label for="username">
                            Username:
                           <input type="text" class="form-control" asp-for="Input.Email" placeholder="Enter Email">
                        </label>
                    </div>

                    <div class="row">
                        <label for="password">
                            Password:
                            <input type="password" class="form-control" asp-for="Input.Password" placeholder="Enter Password">
                        </label>
                    </div>
                    <div class="row">
                        <div class="remember">
                            <div>
                                <input type="checkbox" name="remember" value="Remember me"><span>Remember me</span>
                            </div>
                            <a href="#">Forget password ?</a>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit">Login</button>
                    </div>
                </form>>

                @*<div class="row">
                    <div class="col-md-4">
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2>Create a new account.</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.Password"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.ConfirmPassword"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                    </form>
                    </div>
                    </div>*@
                <!--end of signup form popup-->

                <div>
                    <div class="container">
                        <div class="row">
                            <div class="middle-content">
                                <a href="/"><img class="md-logo" src="~/images/logo1.png" alt=""></a>
                                <a href="/" class="redbtn">go home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/jquery.js"></script>
  @*  <script src="~/js/plugins.js"></script>
    <script src="~/js/plugins2.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/site.js"></script>*@

</body>
</html>






