@page
@model RegisterModel

@{

    Layout = null;
}


<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">
<head>
    <!-- Basic need -->
    <title>Register</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />

    <!-- Mobile specific meta -->
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone-no">

    <!-- CSS files -->
    <link rel="stylesheet" href="~/css/plugins.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <!--signup form -->
    <div class="overlay openform">
        <div class="login-wrapper" id="signup-content">
            <div class="login-content">
                <a href="#" class="close">x</a>
                <h3>sign up</h3>
                <form id="registerForm" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <label asp-for="Input.FirstName"></label>
                        <input asp-for="Input.FirstName" class="form-control" autocomplete="firstName" aria-required="true" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <label asp-for="Input.LastName"></label>
                        <input asp-for="Input.LastName" class="form-control" autocomplete="lastName" aria-required="true" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <label asp-for="Input.Age"></label>
                        <input asp-for="Input.Age" class="form-control" autocomplete="age" aria-required="true" />
                        <span asp-validation-for="Input.Age" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <label asp-for="Input.Country"></label>
                        <select id="CountryList" asp-items="@(new SelectList(Model.CountryList,"Id","Name"))">
                            <option value="">-- Select Country --</option>
                        </select>

                    </div>
                    <div class="row">
                        <label asp-for="Input.City"></label>
                        <select id=CityList>
                            <option value="-1">-- Select City --</option>
                        </select>
                        
                    </div>
                    <div class="row">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    <div class="row">
                        <button id="registerSubmit" type="submit">sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--end of signup form popup-->


    <div class="container">
        <div class="row">
            <div class="middle-content">
                <a href="/"><img class="md-logo" src="~/images/logo1.png" alt=""></a>
                <a href="/" class="redbtn">go home</a>
            </div>
        </div>
    </div>

    <script src="~/js/jquery.js"></script>
    <script>
        $(document).ready(function () {
            $("#CountryList").change(function () {
                $("#CityList").empty();
                $.ajax({
                    type: 'Get',
                    url: '@Url.Action("LoadCity")',

                    datatype: 'json',
                    data: {id: $("#CountryList").val() },

                    success: function(cities) {
                        $("#CityList").append('<option value="' + -1 + '">' +
                        "Select City" + '</option>');
                        $.each(cities, function (i,city) {
                            $("#CityList").append('<option value=' + city.value + '">' +
                            city.text + '</option>');
                        });
                    },
                });
            })
        });
    </script>


</body>
</html>